body{
	background-image:url("../img/background.png");
}

div#logo{
	padding-top: 5%;
	z-index:1;
}

div#welcome{
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

div#welcome p{
	font-size: 22px;
    left: 290px;
    line-height: 1.6;
    top: 220px;
    white-space: nowrap;
}


.container-canvas {
        margin-right: auto;
        margin-left: auto;
        width: 800px;
}

div#blackCircle
{
	width:50%;
	border-radius:50%;
	font-size:25px;
	opacity: 0.8;
	transition: all 1s ease-in-out;
}

div#blackCircle:after {
    content: "";
    display: block;
    width: 90%;
    height:0;
    padding-bottom: 90%;
    background:#000;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	min-height:350px;
	min-width:350px;
}

div#blackCircle p {
    float:left;
    width:90%;
    padding-top:50%;
    line-height:1em;
    margin-top:-1em;
    text-align:center;
    color:white;
	min-width:350px;
}

div#blackCircle:hover{
	opacity:0.9;
	transform: scale(1.1);
}
