/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/



body{
	background-image:url("../img/background.png");
	min-height: 600px;
    padding: 100px 0 50px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	box-shadow:0 0 25px rgba(0,0,0,0.3) inset;
	height:100%;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section{
	display: block;
}


/*----------------------------
	Styling the presentation
-----------------------------*/


#impress:not(.impress-not-supported) .step{
	opacity:0.4;
}

#impress .step{
	width:700px;
	height: 600px;
	position:relative;
	margin:0 auto;
	
	-moz-transition:1s opacity;
	-webkit-transition:1s opacity;
	transition:1s opacity;
}

#impress .step.active{
	opacity:1;
}

#impress h2{
	font: normal 44px/1.5 'PT Sans Narrow', sans-serif;
	color:#444648;
	position:absolute;
	z-index:10;
}

#impress p{
	font: normal 18px/1.3 'Open Sans', sans-serif;
	color:#27333f;
	position:absolute;
	z-index:10;
}

#impress img{
	position:absolute;
	z-index:1;
}

.arrow{
	width:32px;
	height:54px;
	background:url('../img/arrows.png') no-repeat;
	position:fixed;
	top:50%;
	margin-top:-27px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	opacity:0.8;
	border:none !important;
	text-decoration:none !important;
	
	-moz-transition:0.2s opacity;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.arrow:hover{
	opacity:1;
}

#arrowLeft{
	left:45px;
}

#arrowRight{
	right:45px;
	background-position:top right;
}

/* Hide the arrows if impress is not supported */

#impress.impress-not-supported + .arrow,
#impress.impress-not-supported + .arrow + .arrow{
	display:none;
}


/*----------------------------
	Slide 1 - Intro
-----------------------------*/


#impress #intro{
	width: 500px;
}

#intro h2{
	text-align: center;
    width: 100%;
}

#intro p{
	font-size: 22px;
    left: 290px;
    line-height: 1.6;
    top: 220px;
    white-space: nowrap;
}

#intro img{
	top: 120px;
}


/*----------------------------
	Slide 2 - Protest-jam
-----------------------------*/


#Protest-jam{
	width: 690px;
}

#Protest-jam h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#Protest-jam p{
	font-size: 15px;
    left: 45px;
    text-indent: 15px;
    top: 119px;
    width: 402px;
}

#Protest-jam img{
	right: 0;
    top: 200px;
}


/*----------------------------
	Slide 3 - Protest-Overhall
-----------------------------*/


#impress #Protest-Overhall{
	width: 560px;
}

#Protest-Overhall h2{
	left: 0;
	top: 370px;
	width: 100%;
	text-align:center;
}

#Protest-Overhall p{
	left:50%;
	margin-left:-245px;
    text-align: left;
    top: 460px;
    width: 490px;
}

#Protest-Overhall img{
	right: 0;
    top: 50px;
}


/*----------------------------
	Slide 4 - Careers-App
-----------------------------*/


#impress #Careers-App{
	width: 620px;
}

#Careers-App h2{
	left: 0;
    text-align: left;
    top: 170px;
}

#Careers-App p{
	left: 32px;
    top: 255px;
    width: 280px;
}

#Careers-App img{
	right: 0;
    top: 30px;
}


/*----------------------------
	Slide 5 - Indie-Books
-----------------------------*/


#impress #Indie-Books{
	width: 690px;
}

#Indie-Books h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#Indie-Books p{
	font-size: 15px;
    left: 45px;
    text-indent: 15px;
    top: 119px;
    width: 402px;
}

#Indie-Books img{
	right: 0;
    top: 200px;
}
